.hidden {
    display: none
}

.nothidden {
    background-color: #fcfaf1;;
}

.log {
    margin-top: 15px;
    width: 400px;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: right;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
   
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fcfaf1;
    color:  #384b60;
}
h1 div {
    width: 100%;
    padding: 10px;
      background-color: #077893;
  }

  .btn_show {
    color: white;

}
.buttons {
    display: flex;
    justify-content: left;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:40 40 0 40px;
}
button {
    font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #077893;
  box-shadow: 0 -3px #2a5078 inset;
  transition: 0.2s;
}
input#module {
    width: 100px;
    margin-left: 44px;
}
input#plan {
    width: 100px;
    margin-left: 169px;
}
input#wc_list {
    width: 100px;
    margin-left: 92px;
}
input#smp {
    width: 100px;
    margin-left: 1px;
}
.main_right {
    width: 50%;
    
    height: max-content;
    min-height: 90px;
   
}
.main {
    display: flex;
    justify-content: space-around;
}
.main_left{
    width: 50%;
    height: 100%;
    min-height: 90px;
   

}
textarea {
    width: 477px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    color: #384b60;
    font-size: 12px;
    margin-left: 5px;
  }
  
.table_1 {
    margin-left: 5px;
    border-color: #384b60;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #384b60;
    border: 1pt solid grey;
    text-align: center;
    border-collapse: collapse;
    font-size: 10px;
    margin: 20px;
}
td{
    border: 1px solid grey;
    padding: 7px;
}
th {
    color: white;
    background: #077893;
}
input {
    color:  #384b60;
}